.menu-container {
  // padding-bottom: 4rem;
  .k-card {
    box-shadow: none;
  }

  .chip-like {
    border-radius: 12px;
    background: #ffc107;
    box-shadow: none;
    font-size: 10px;
    padding: 2px 1.3rem;
    text-transform: none;
    font-weight: bold;
  }

  .plus-min {
    border-radius: 50%;
    background: #ffc107;
    font-size: 10px;
    color: rgba(48, 48, 48, 1);
    font-weight: bold;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.16);
  }

  .menu-card {
    padding: 1rem;

    .menu-top {
      width: 100%;

      .menu-photo-text-wrap {
        padding-bottom: 1rem;
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid rgba(66, 66, 66, 0.15);

        .menu-item-img-wrap {
          margin-right: 1rem;
          display: flex;
          flex-shrink: 0;
          img {
            object-fit: cover;
            border-radius: 8px;
            width: 10vh;
            height: 10vh;
          }
        }

        .menu-item-text-wrap {
          width: 100%;
          .menu-title {
            margin: 0;
            font-size: 14px;
            color: #303030;
            font-weight: normal;
          }

          .menu-subtitle {
            margin: 0.3rem 0;
            color: #808080;
            font-size: 12px;
            font-weight: normal;
          }

          .price-add-btn-wrap {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-content: center;
            align-items: center;
            .price {
              color: #303030;
              font-size: 16px;
              font-weight: bold;
              margin: 0;
            }
            .slashed {
              text-decoration: line-through;
              opacity: 0.5;
              font-size: 12px;
            }
          }
        }
      }

      .like-icon-wrap {
        text-align: right;
        margin: 0 0.5rem;
        img {
          width: 3vh;
        }
      }
    }
  }
}

.menu-card:last-child .menu-top .menu-photo-text-wrap {
  border-bottom: none;
}

.menu-header {
  margin-left: 1rem;
  border-bottom: none;
  font-weight: bold;
  font-size: 18px;
}

.menu-order-footer {
  z-index: 200;
  width: 100%;
  // padding: 1rem;
  position: fixed;
  bottom: 0;
  left: 0;
  background: #ffc107;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .menu-order-left {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;

    p {
      margin: 0;
      font-size: 14px;
    }

    .order-count {
      font-weight: bold;
    }
  }
  .subtotal-price {
    margin-right: 1.5rem;
    font-size: 20px;
    font-weight: bold;
  }
}

@media only screen and (min-width: 1024px) {
  .menu-container {
    // padding-bottom: 4rem;

    .chip-like {
      font-size: 14px;
    }

    .plus-min {
      font-size: 14px;
    }

    .menu-card {
      .menu-top {
        .menu-photo-text-wrap {
          .menu-item-img-wrap {
            .menu-item-text-wrap {
              .menu-title {
                font-size: 18px;
              }

              .menu-subtitle {
                font-size: 16px;
              }

              .price-add-btn-wrap {
                .price {
                  font-size: 20px;
                }
                .slashed {
                  font-size: 16px;
                }
              }
            }
          }

          .like-icon-wrap {
            img {
              width: 3vh;
            }
          }
        }
      }
    }
  }
  .menu-header {
    font-size: 22px;
  }

  .menu-order-footer {
    width: 50%;
    margin: 0 auto;
    bottom: 0;
    left: 25%;

    .menu-order-left {
      p {
        margin: 0;
        font-size: 18px;
      }
    }
    .subtotal-price {
      font-size: 24px;
    }
  }
}
